<footer style="background-color: #2C3E50;min-height: 200px;">
    <div class="container py-5">
        <div class="row g-4 pt-4">
            <div class="col-md-4 mb-1">
                <div class="text-center text-white">
                    <h3 class="font-h3">LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 text-center mb-3">
                <div class="text-white">
                    <h3 class="font-h3">AROUND THE WEB</h3>
                </div>
                <div class="icon-container">
                    <i class="fa-brands fa-facebook mx-2 icon" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-twitter mx-2 icon" style="color: #ffffff;"></i>
                    <i class="fa-brands fa-linkedin mx-2 icon" style="color: #ffffff;"></i>
                    <i class="fa-solid fa-globe mx-2 icon" style="color: #ffffff;"></i>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h3 class="font-h3 text-white">ABOUT FREELANCER</h3>
                <p class="text-white">Freelance is a free to use, licensed 
                    Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</footer>
